@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #2CB3F3;
    position: absolute;
}

.Container-welcome{
    position: absolute;
    left: 144px;
    top: 89px;
    width: 79vw;
    height: 21vh;
}

.Container-welcome_fisrt{
    font-size: 56px;
    font-weight: 500;
    text-align: center;
}

.Container-welcome_second{
    font-size: 30px;
    font-weight: 400;
    line-height: 55px;
    text-align: center;
}
.Container-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container-section_hoodie{
    position: absolute;
    left: 243px;
    top: 245px;
    width: 66vw;
    height: 94vh;
    border-radius: 100px 100px 0px 0px;
    background-color: #FFFFFF;
}

.Container-section_head{
    position: absolute;
    left: 337px;
    top: 309px;
    width: 52vw;
    height: 78vh;
}

.Container-section_head-body{
    position: absolute;
    left: 337px;
    top: 309px;
    width: 52vw;
    height: 78vh;
    background-color: #FFE1C9;
    border-radius: 50%;
}